# 1
### DATABASE:
#### A database is a collection of data that is organized and strored in a system.Databases are used to store large amount of informantion and allow users to easily access and modify the data.
### SQL:
#### Structered Query Language is a type of RDBMS (Relational Database Management System) that uses tables having rows and columsn to store data.
### NoSQL:
#### Not only SQL is a type of unstructured non - RDBMS that does not use tables having rows and columns to store data.It uses document-based, key-value, graph-based, or column-family, data models to store data.

# 2
### DDL: Data Definition Language
#### It is a set of SQL commands used to define and modify the structe of database columns.Some commands of DDL are CREATE, ALTER, DROP, TRUNCATE etc...

### CREATE
#### This command is used for creation of tables inside our databases. Eg;
#### CREATE TABLE table_name (col1 datatype , col2 datatype , col3 datatype ...);

### ALTER
#### This command is used for modifying database objects, This can be used to add or delete columns,change columsn datatypes. Eg;
#### ALTER TABLE table_name ADD COLUMN column_name datatype;
#### ALTER TABLE table_name MODIFY COLUMN column_name datatype;

### DROP
#### This command is used for deletion of database as well as tables or columns. Eg;
#### DROP DATABASE database_name;
#### DROP TABLE table_name;
#### ALTER TABLE table_name DROP COLUMN column_name;

### TRUNCATE
#### This command is used for clean up all the data stored but the structure of table is unchanged. Eg;
#### TRUNCATE TABLE table_name;

# 3
### DML: Data Manipulation Language
#### It is a set of SQL commands used to manipulate the table data.Commands of DML are INSERT, UPDATE, DELETE.

### INSERT:
### It is used to insert the data in tables Eg;
#### INSERT INTO  table_name (col1, col2, col3 ...) VALUES (value1, value2, value3 ...);

### UPDATE:
### It is used to update the existing data in tables Eg;
#### UPDATE table_name SET column_name = new_data WHERE condition;

### DELETE:
### It is used to delete the data from the tables Eg;
#### DELETE FROM table_name WHERE condition;

# 4
### DQL: Data Query Language
#### It is used to retrieve data from the table. It consists of SELECT, WHERE, GROUP BY , ORDER BY etc...

#### SELECT:
##### It is used to extract the data from the table. Eg;
##### SELECT (col1,col2...) FROM table_name;
##### SELECT  *  FROM table_name; This will show all columns of the table

# 5

### PRIMARY KEY
#### A primary key is a field in a table which identifies each recored in the table. It must be unique value and NOT NULL for each record. Eg;
##### CREATE TABLE employee ( e_id INT PRIMARY KEY NOT NULL, name VARHCAR(20) , salary INT );

### FOREIGN KEY
#### A foreign key is a field in a table that refers to the primary key for the another table.The concept of foreign key comes in existance for establishing a relation between two tables. Eg;
##### CREATE TABLE employee ( e_id INT PRIMARY KEY NOT NULL, naME VARHCAR(20) , salary INT , department_id INT FOREIGN KEY );

# 6

#### Code for connecting MySQL to python

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(host= 'localhost',user = 'root',password = 'password')

#### cursor(): This method is used to create a cursor object, which is used to execute SQL queries and retrieve results from the database. The cursor is associated with a database connection and allows you to execute multiple SQL queries using the same connection.

#### execute():This method is used to execute an SQL queries. The method takes the SQL queries as a parameter and returns a cursor object that can be used to retrieve the results of the query.

# 7
### In SQL, the order of execution of clauses within a query is generally as follows:

#### 1.FROM : The FROM clause specifies the table(s) from which data will be retrieved.

#### 2.JOIN : The JOIN clause is used to combine data from multiple tables based on a specified join condition.

#### 3.WHERE : The WHERE clause is used to filter the data based on a specified condition.

#### 4.GROUP BY : The GROUP BY clause is used to group the data based on one or more columns.

#### 5.HAVING: The HAVING clause is used to filter the grouped data based on a specified condition.

#### 6.SELECT: The SELECT clause is used to select the columns to be displayed in the output.

#### 7.DISTINCT: The DISTINCT clause is used to remove duplicate rows from the output.

#### 8.ORDER BY: The ORDER BY clause is used to sort the output based on one or more columns.

#### 9.LIMIT : The LIMIT clause is used to limit the number of rows returned by the query.

### The order of ececution may be vary but this order is best practice for writing a SQL queries